<nav  name="navclient" data-cy="navbar" class="navbar navbar-light   " style="background-color:rgb(244, 232, 243);"   >
  <a routerLink="/" > <img src="https://9antra.tn/content/images/LogoBridge.png" alt="9antra"></a>


    <ul class="nav justify-content-end me-5">
      <li class="nav-item">
        <a class="nav-link text-black " routerLink="/"> <span>home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black"  routerLink="paths">Paths</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="courses">courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-black" routerLink="events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-black" routerLink="repots">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black  " routerLink="about">About</a>
      </li>
       <li class="nav-item"  >
      <div class="btn-group me-5 ">
        <button type="button" class="btn text-white" style="background-color:#af2f64;" >Account
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn text-white dropdown-toggle-split" style="background-color:#af2f64;" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu *ngIf="' ROLE_USER'">
            <button ngbDropdownItem (click)="login()" >
              <img src="https://previews.123rf.com/images/martialred/martialred1703/martialred170300022/74131550-ouvrir-la-porte-l-entr%C3%A9e-avec-la-fl%C3%A8che-ou-la-logout-ligne-ic%C3%B4ne-du-vecteur-d-art-pour-les-applicati.jpg" alt="Sign" width ="25px" height="25px">
               Sign up</button>
            <button ngbDropdownItem routerLink="account/register" >
              <img src="https://media.istockphoto.com/id/1280182011/vector/add-new-user-account-or-add-new-friend-icon-in-line-style-person-avatar-symbol-for-perfect.jpg?s=612x612&w=0&k=20&c=kxQVcBN5Hm2jvUmWFcHAA7zenzc0WcJRyBVv4j-o_cU=" alt="Register" width ="25px" height="25px">
              Register</button>


          </div>
           <!-- <div class="dropdown-menu" ngbDropdownMenu *ngIf="'ROLE_USER'">
         <!-- <button ngbDropdownItem (click)="logout()"  *jhiHasAnyAuthority="'ROLE_USER'" >
          <button ngbDropdownItem (click)="logout()"   >
            <img src="https://previews.123rf.com/images/martialred/martialred1703/martialred170300022/74131550-ouvrir-la-porte-l-entr%C3%A9e-avec-la-fl%C3%A8che-ou-la-logout-ligne-ic%C3%B4ne-du-vecteur-d-art-pour-les-applicati.jpg" alt="Sign" width ="25px" height="25px">
             Sign Out</button>

          </div> -->
        </div>
      </button>
      </div>
    </li>



    </ul>
</nav>
<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark"   *jhiHasAnyAuthority="'ROLE_ADMIN'" >
  <div class="container-fluid">
    <a class="navbar-brand logo9antra" routerLink="homeadmin" (click)="collapseNavbar()">
      <span class="logo9antra-img"></span>
      <span class="navbar-title">9antra.tn </span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="homeadmin" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span>Home</span>
            </span>
          </a>
        </li>
         jhipster-needle-add-element-to-menu - JHipster will add new menu items here
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="cours"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Cours</span>
              </a>
            </li>
             jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>

          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span>Password</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span>Sign in</span>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
