
<div >
   <div class="row justify-content-center align-items-center">
     <div class="col-lg-4 col-md-4 col-sm-8 order-lg-1 order-md-1 order-sm-1">
      <img alt="" class="img-fluid classLogoSiUp" src="https://9antra.tn/content/images/LogoBridge.png">
       <img alt="" class="img-fluid classLogoSiUp2" src="https://9antra.tn/content/images/Statique/login_edited.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-2">
        <h1 class="loginTitle">Welcome Back to The Bridge</h1>
         <span class="loginSubTitle">Log in to your account!</span>
         <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="mb-3">
            <label class="username-label" for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="Your username"
              formControlName="username"
              #username
              data-cy="username"
            />
          </div>

          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Your password"
              formControlName="password"
              data-cy="password"
            />
          </div>

          <div class="form-check">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span>Remember me</span>
            </label>
          </div>

          <button type="submit" class="btn btn-primary" data-cy="submit">Login</button>
        </form>
        <div class="mt-3 alert alert-warning">
          <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Did you forget your password ?</a>
        </div>
                <div class="alert alert-warning"> <span jhitranslate="global.messages.info.register.noaccount">You don't have an account yet ? </span>
                <a class="alert-link" routerLink="/account/register" >Register a new account </a>

               </div>
              </div>
             </div>











 <!-- <div class="row justify-content-center align-items-center">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="col-lg-4 col-md-4 col-sm-8 order-lg-1 order-md-1 order-sm-1">
        <img alt="" class="img-fluid classLogoSiUp" src="https://9antra.tn/content/images/LogoBridge.png">
         <img alt="" class="img-fluid classLogoSiUp2" src="https://9antra.tn/content/images/Statique/login_edited.png">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-2">
          <h1 class="loginTitle">Welcome Back to The Bridge</h1>
           <span class="loginSubTitle">Log in to your account!</span>
      <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="username-label" for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Your username"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Your password"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span>Remember me</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary" data-cy="submit">Login</button>
      </form>
      <div class="mt-3 alert alert-warning">
        <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Did you forget your password?</a>
      </div>
    </div>
  </div>
</div>
</div> -->
